.about__text {
  font-family: Yantramanav-Regular;
}

.about__socials a {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.about__socials--title {
  text-align: center;
  opacity: 0.7;
}

.about__socials svg:hover path {
  fill: $secondary-color;
}
