.card {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
.card__image {
  width: 11rem;
  margin: 0 auto;
  margin-bottom: -80px;
}
.card__content {
  height: 400px;
  background-color: gray;
  border-radius: 5px;
}
.card__desc {
}
