.card {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
.card__image {
  margin: 0 auto;
  margin-bottom: -60px;
}
.card__content {
  min-height: 400px;
  background-color: $card-color;
  border-radius: 5px;
}

.card__action--link {
  font-family: Yantramanav-Regular;
}
.card__desc {
  font-size: 1.03rem;
  min-height: 200px;
  font-family: Yantramanav-Regular;
}
