.contact {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.contact__form {
  max-width: 400px;
  font-size: 1.3rem;
  margin: 0 auto;
}

.contact__form input,
.contact__form button {
  display: block;
  width: 100%;
  border-radius: 2px;
}

.contact__message {
  height: 200px;
}
.contact__button {
  margin: 0 auto;
  background-color: $primary-color;
  padding-top: 5px;
  padding-bottom: 5px;
}
