.game__instructions {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  transform: translate(0, -400px);
  transition: visibility 0.8s, opacity 0.8s ease;
  transition-delay: 0.8s;
}
.game__arrows {
  margin: 0 auto;
  opacity: 0.8;
  transform: translate(0, 62px);
}

.game__btnContainer {
  width: 100%;
  position: absolute;
}

.game__btn {
  background: blue;
  margin: 0 auto;
  height: 25px;
  width: 25px;
  opacity: 0;
  z-index: 100;
  transform: translate(0, -25px);
}

.game__icon {
  margin: 0 auto;
  /* opacity: 0.5; */
}
