.hero {
  text-align: center;
}
.hero__content {
  height: 456px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
}
.hero__title {
  color: $title-color;
  font-family: Yantramanav-Black;
  font-size: 5rem;
  line-height: 60%;
}

@media only screen and (min-width: 380px) {
  .hero__title {
    font-size: 8rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero__title {
    font-size: 14rem;
  }
}
.hero__second {
  padding-right: 4.4rem;
}

@media only screen and (min-width: 380px) {
  .hero__second {
    padding-right: 7rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero__second {
    padding-right: 12.35rem;
  }
}

.hero__adword {
  line-height: 90%;
  font-size: 1.2rem;
  font-family: Cairo;
  color: white;
}

@media only screen and (min-width: 380px) {
  .hero__adword {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero__adword {
    font-size: 3.8rem;
  }
}
