/* Font */
@font-face {
  font-family: Yantramanav-Black;
  src: url("../fonts/Yantramanav-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Yantramanav-Regular;
  src: url("../fonts/Yantramanav-Regular.ttf");
  font-display: swap;
}

.link-primary {
  color: $primary-color;
}

a {
  text-decoration: none;
}

a:hover {
  color: $primary-color;
  text-decoration: underline;
}

.Yan-text {
  font-family: Yantramanav-Regular;
}

/* Titles */
.text-title {
  font-size: 4rem;
  text-align: center;
  line-height: 80%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.text-subtitle {
  opacity: 80%;
  font-size: 1.2rem;
  margin: 0 auto;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 800px;
  margin-bottom: 1rem;
}

@screen md {
  .text-title {
    font-size: 5.5rem;
  }
  .text-subtitle {
    font-size: 1.5rem;
  }
}
