/* Font */
@font-face {
  font-family: Yantramanav-Black;
  src: url("../fonts/Yantramanav-Black.ttf");
}

@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo-Bold.ttf");
}

@font-face {
  font-family: Yantramanav-Regular;
  src: url("../fonts/Yantramanav-Regular.ttf");
}

.link-primary {
  color: $primary-color;
}

a {
  text-decoration: none;
}

a:hover {
  color: $primary-color;
  text-decoration: underline;
}

/* Titles */
.text-title {
  font-size: 4rem;
  text-align: center;
  line-height: 80%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.text-subtitle {
  opacity: 50%;
  font-size: 1.2rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@screen md {
  .text-title {
    font-size: 5rem;
  }
  .text-subtitle {
    font-size: 2rem;
  }
}
