/*Utils*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Vars */
$primary-color: #01ad76;
$title-color: #fdb215;
$bg-color: #0a0d26;
$text-color: white;
$card-color: #010826;

/* Component Block*/
.block-component {
  border: 2px solid red;
  @apply py-16;
}

/* Everything */
body {
  background-color: $bg-color;
  color: $text-color;
  font-family: Yantramanav;
}
