/*Utils*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Vars */
$primary-color: #01ad76;
$secondary-color: #50c8e8;
$error-color: #e1341e;
$linebreak-color: #710ac2;
$title-color: #fdb215;
$bg-color: #0a0d26;
$text-color: white;
$card-color: #010826;
$inputBG-color: $secondary-color;

/* Component Block*/
.block-component {
  /* border: 2px solid red; */
  @apply py-20;
}

/* Input */

input,
textarea {
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e2e3dd;
}

input:focus,
textarea:focus {
  background-color: $inputBG-color;
  outline: none;
  transition: all 0.3s ease;
}

/* Everything */
body {
  background-color: $bg-color;
  color: $text-color;
  font-family: Yantramanav-Black;
}
