/*Utils*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Vars */
$primary-color: #00bf8c;
$text-color: white;
$scrollbar-color: #a19f9f;

/* Background colors */
$bg-color: black;

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-color rgba(0, 0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;
}

/* Everything */
body {
  background-color: $bg-color;
  color: $text-color;
  font-family: Yantramanav-Black;
}

*:focus {
  outline: 1.2px solid white;
  border-radius: 2px;
  /* box-shadow: 0 0 0 0.07rem #fff, 0 0 0 0.2rem white; */
}

button:focus:not(:focus-visible) {
  outline: none;
}
a:focus:not(:focus-visible) {
  outline: none;
}

canvas:focus {
  outline: none;
}

/* Font */
@font-face {
  font-family: Yantramanav-Black;
  src: url("../fonts/Yantramanav-Black.ttf");
  font-display: swap;
}

@font-face {
  font-family: Cairo;
  src: url("../fonts/Cairo-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Yantramanav-Regular;
  src: url("../fonts/Yantramanav-Regular.ttf");
  font-display: swap;
}

a {
  text-decoration: none;
}

a:hover {
  color: $primary-color;
  text-decoration: underline;
}

.Yan-text {
  font-family: Yantramanav-Regular;
}
