/* Globals */
@import "./_globals.css";

/* Components */
@import "./components/_header.css";
@import "./components/_hero.css";

/* Everything */
body {
  background-color: $bg-color;
  color: $text-color;
  font-family: Yantramanav;
}
